<!DOCTYPE html>
<html>
<head>
    <!--!! MAYBE TO HELP WITH SCRIPT CONFLICTS. WE WILL HAVE TO SEE THOUGH. -->
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
    
    @*This will load any relevant metadata and the theme style*@
    <partial name="_PageHeadElement"/>

    @*Site Style*@
    <partial name="Scripts/_SiteStyles"/>
    

    @*Universal Site Scripts*@
    <partial name="Scripts/_SiteScripts"/>
    
    @*Plugin Scripts*@
    @* <partial name="Auth/_IdentityPluginScripts"/> *@

</head>
<body class="bg-default">

<div class="main-content">
    <partial name="Auth/_IdentityNavbar"/>
    <partial name="Auth/_IdentityHeader"/>
    <!-- Page content -->
    <div class="container pl-0 pr-0">
        <!-- Page content -->
        @RenderBody()
    </div>
    <partial name="Auth/_IdentityFooter"/>
</div>

<partial name="Scripts/_ValidationScriptsPartial"/>

<!--!! THIS SCRIPT IS TO HELP AVOID PLUGIN CONFLICTS -->
<script>if (window.module) module = window.module;</script>
</body>
</html>