@model Voodoo.Video.Models.ViewModels.CameraLayoutsViewModels.NewLayoutViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">
    <div class="card">
        <div class="card-header bg-success text-white text-center">
            <h4>Create New Layout</h4>
        </div>
        <div class="card-body">
            <form id="frm-new-layout" asp-controller="Main" asp-action="CreateNewLayout" method="post">
                <div class="form-group">
                    <label for="layout-name">Layout Name</label>
                    <input asp-for="Name" class="form-control" id="layout-name" aria-describedby="nameHelp" placeholder="Name">
                    <small id="nameHelp" class="form-text text-muted">Give your new layout a name that indicates its content.</small>
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <button id="btn-cancel-layout" class=" btn btn-outline-danger border-danger btn-lg rounded-pill">Cancel</button>
            <button id="btn-create-layout" class="btn btn-outline-success border-success btn-lg rounded-pill">Create</button>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="js/Views/Main/NewDashboardLayout.js" asp-append-version="true"></script>
}
