<!DOCTYPE html>
<html>
<head>
    <!--!! MAYBE TO HELP WITH SCRIPT CONFLICTS. WE WILL HAVE TO SEE THOUGH. -->
    <script>
        // const _ = require('lodash');
        if (typeof module === 'object') { window.module = module; module = undefined; }
    </script>
    @*Load additional metadata and theme style sheets*@
    <partial name="_PageHeadElement"/>
    @*Plugin Style*@
    <partial name="Scripts/_PluginStyles"/>
    @*Site Style*@
    <partial name="Scripts/_SiteStyles"/>

    <partial name="Scripts/_SiteScripts"/>
    <partial name="Scripts/_PluginScripts"/>

</head>
<body>
<!--? MAIN BODY CONTAINER -->
<div class="container-fluid px-0">
    @*!! NAVBAR*@
    <partial name="Navbar/_Navbar"/>
    @*!! NAVBAR*@

    @* <partial name="_Header"/> *@

    <div class="collapse d-flex h-100 no-gutters position-relative row vh-100">
        @*!! SIDEBAR*@
        <partial name="Sidebar/_Sidebar"/>
        @*!! SIDEBAR*@

        @*!! MAIN BODY CONTENT*@
        <div class="col p-3" id="body-content">
            @RenderBody()
        </div>
        @*!! MAIN BODY CONTENT*@
    </div>
</div>

@* <partial name="Scripts/_ArgonScripts"/> *@




@RenderSection("Scripts", required: false)

<!--!! THIS SCRIPT IS TO HELP AVOID PLUGIN CONFLICTS -->
<script>if (window.module) module = window.module;</script>

</body>
</html>