<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<meta name="description" content="Electron, Asp.Net Core 3 application for viewing/managing ip cameras..">
<meta name="author" content="Joe Veihl">
<title>@ViewData["Title"] | Voodoo Video</title>
<!-- Favicon -->
<link href="~/img/brand/favicon.png" rel="icon" type="image/png">
